@model ATMSData.Models.CauseOn

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>CauseOn</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="AccidentRecordID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AccidentRecordID" class ="form-control" asp-items="ViewBag.AccidentRecordID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VehicleID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="VehicleID" class ="form-control" asp-items="ViewBag.VehicleID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VehicleCost" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VehicleCost" class="form-control" />
                <span asp-validation-for="VehicleCost" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
