@model ATMS.Models.Accident.AccidentIndexListingModel

<div>
    <div>
        <label>Accident Record ID</label>
        @Html.TextBoxFor(m
   => m.AccidentRecordID)
        <label>City</label>
        @Html.TextBoxFor(m => m.City)
        <label>SubCity</label>
        @Html.TextBoxFor(m => m.SubCity)
    </div>

        <div>
            <label>Descriptions</label>
    
        @Html.TextAreaFor(m => m.Descriptions)
    </div>
    <div>
        <input id="AddRecord" type="submit" value="AddRecord" />
    </div>
</div>